{% extends 'partials/base.html'%}
<!--Page title-->
{% block title %}
<title>Profile</title>
{% endblock%}
<!--Page Content-->
{% block content %}
<div class="container">
    <!--Bootstrap style: Row in container, margin top 5, padding top 3-->
    <div class="row mt-5 pt-3">
        <!--A COLUM with 6 parts in the row, spaing from the right and left is 3 parts -->
        <div class="col-md-6 offset-md-3">
            <dif class="card my-3 shadow">
                <div class="card-body">
                    <!--Each Row contains 12 col-->
                     <div class="row"> 
                        <span class="h4">Profile Page</span>
                        <!-- Button trigger modal -->
                        <span>
                            <button type="button" class="btn btn-info btn-sm float-right " data-bs-toggle="modal" data-bs-target="#modalEditProfile">
                                Edit Profile
                            </button>
                        </span>  
                        <hr/>
                        <!--This takes 4 cols in the 6 cell COL above (col-md-6)-->
                        <div class="col-md-4">
                            {% if user.profile.image %}
                                <img 
                                    src="{{ user.profile.image.url }}" 
                                    alt="Profile Img"
                                    width="100px" 
                                    height="100px"
                                    >
                            {% else %}
                                <img
                                    src="https://i.pravatar.cc/50" 
                                    width="100px" 
                                    height="100px"            
                                    class="rounded-circle"
                                    />
                            {% endif %}
                        </div>   
                        <div class="col-md-8">
                            <h4>Name: {{ user.username }}</h4>
                            <h4>Email: {{ user.email  }}</h4>
                        </div>
                     </div>   
                </div>
            </dif>
        </div>
    </div>
</div>

<!--Modal to show up the edit profile window-->


<!-- Modal -->
<div class="modal fade" id="modalEditProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock%}